html

body {
  width: 100%;
height: 100%;
margin: 0;
padding: 0;
background-image: url(images/grasstexture.jpg);
}

h1 {
  text-align: center;
  color: #157F1F;
  font-size: 60px;
  padding-left: 0px;
  margin: auto;
  font-family: 'Open Sans', sans-serif; /* this is the main font that i chose for web app */
  -webkit-text-stroke-width: 2.5px; /* this is the outline stroke for the title text */
  -webkit-text-stroke-color: black; /* this is the colour of the outline stroke */
}

h3 {
  text-align: center;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
}

h4 {
  text-align: center;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
}

p {
  text-align: center;
  color: #157F1F;
  font-size: 25px;
  padding-left: 0px;
  margin-bottom: auto;
  font-family: 'Open Sans', sans-serif;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.image {
  position: fixed;
  top: auto;
  left: 0;
  right: 0;
  margin: auto;
  overflow: auto;
  background-size: contain;
}

.container {
  max-width: 100%;
  max-height: 100%;
  background-size: contain;
}

.boxed {
  border: 4px solid black ;
  background-color: #4D4D4D;
  opacity: 0.9;
  position: fixed;
  border-radius: 35px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 70%;
    max-height: 85%;
    margin: auto;
    overflow: auto;
}

.boxed1 {
  border: 4px solid black ;
  background-color: #4D4D4D;
  opacity: 0.9;
  border-radius: 35px;
  left: 0;
  right: 0;
  max-width: 35%;
  max-height: 50%;
  margin: auto;
  overflow: auto;
}

.boxed2 {
  border: 4px solid black ;
  background-color: #4D4D4D;
  opacity: 0.9;
  position: fixed;
  border-radius: 35px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 25%;
    max-height: 30%;
    margin: auto;
    overflow: auto;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
}

.flex-container > a {
  background-color: #157F1F;
  border-color: black;
  width: 150px;
  height: 75px;
  border-radius: 15px;
  text-align: center;
  line-height: 20px;
  font-size: 20px;
  margin: auto;
  overflow: auto;
  font-family: 'Open Sans', sans-serif;
}

.button1 {
  background-color: #157F1F;
  color: black;
  outline-color: black;
  padding: 20px 40px;
  border-radius: 15px;
  margin-top: 10px;
  margin-left: 1px;
  margin-right: 1px;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #157F1F; /* Primary Green - Stand Alone Colour*/
  background-color: #069E2D; /* Secondary Green - Colour when User Hovers*/
  color: black;
  outline-color: black;
}

a {
  border-color: black;
}

i {
  position: relative;
  vertical-align: middle;
}

#exampleFormControlInput1 {
  border-radius: 5px;
  border-color: black;
  background-color: #157F1F;
}

.loading{
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  border-radius: 50%;
  border-top: 10px solid #157F1F;
  animation: a1 2s linear infinite;
}

.loading::before,.loading::after{
  content: '';
  width: 200px;
  height: 200px;
  position: absolute;
  left: 0;
  top: -10px;
  box-sizing: border-box;
  border-radius: 50%;
}

.loading::before{
  border-top: 10px solid #069E2D;
  transform: rotate(120deg);
}

.loading::after{
  border-top: 10px solid #4C934C;
  transform: rotate(240deg);
}

.loading span{
  position: absolute;
  width: 200px;
  height: 200px;
  color: #000;
  text-align: center;
  line-height: 200px;
  animation: a2 2s linear infinite;
}

@keyframes a1 {
  to{
    transform: rotate(360deg);
  }
}

@keyframes a2 {
  to{
    transform: rotate(-360deg);
  }
}


/* .sk-chase {
  width: 300px;
  height: 300px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  animation: sk-chase 2.5s infinite linear both;
}

.sk-chase-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  animation: sk-chase-dot 2.0s infinite ease-in-out both;
}

.sk-chase-dot:before {
  content: '';
  display: block;
  width: 25%;
  height: 25%;
  background-color: #fff;
  border-radius: 100%;
  animation: sk-chase-dot-before 2.0s infinite ease-in-out both;
}

.sk-chase-dot:nth-child(1) { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2) { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3) { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4) { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5) { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6) { animation-delay: -0.6s; }
.sk-chase-dot:nth-child(1):before { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2):before { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3):before { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4):before { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5):before { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6):before { animation-delay: -0.6s; }

@keyframes sk-chase {
  100% { transform: rotate(360deg); }
}

@keyframes sk-chase-dot {
  80%, 100% { transform: rotate(360deg); }
}

@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4);
  } 100%, 0% {
    transform: scale(1.0);
  }
} */
